::selection {
    background-color: var(--grey);
}

textarea {
    background-color: var(--grey);
    border: 2px solid var(--white);
    color: var(--white)
}

button {
    width: 12em;
    height: 3em;
    border: 2px solid var(--purple);
    color: var(--white);
    background-color: var(--background);
    transition: all 0.1s ease-in;
    touch-action: manipulation;
}

button:hover {
    background-color: var(--purple);
}

button:active {
    border-color: var(--background);
    outline: none;
}